.users_photo {
    width: 40px;
}

.page,
.selectedPage {
    padding: 5px;
    cursor: pointer;
}

.selectedPage {
    font-weight: bold;
    color: #fff;
}

.button:disabled {
    color: #fff;
    background-color: red;
}