* {
  padding: 0;
  margin: 0;
}

.app-wrapper {
  background-color: grey;
  width: 1024px;
  display: grid;
  grid-template-areas: 
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
  grid-area: c;
  background-color: rgb(180, 139, 218);
}

